.seller{
    .seller-top{
        padding-left: 1rem;
        .addressAndPhone{
            // display: grid;
            // place-items: center;
            // grid-template-columns: minmax(30px,10%) 1fr minmax(100px, 20%);
            display: flex;
            border-bottom: .1rem solid #f4f4f4;
            min-height: 4rem;
            align-items: center;
            justify-content: space-between;
            .location{
                img{
                    width: 1rem;
                }
            }
            .address{
                display: grid;
                place-items: center;
                width: 70%;
                // padding-left: 1rem;
            }
            .phone{
                width: 17%;
                display: grid;
                place-items: center;
                border-left: .1rem solid #f4f4f4;
                img{
                    width: 1.2rem;
                    
                }
            }
        }
        .pic{
            display: flex;
            overflow: hidden;
            padding: .7rem 0;
            border-bottom: .1rem solid #f4f4f4;
            img{
                width: 7rem;
                height: 6rem;
                object-fit: cover;
                margin-right: .7rem;
            }
        }
        .security{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            min-height: 3rem;
            .badge{
                img{
                    width: 1rem;
                }
            }
            p{
                padding-left: 1rem;
                flex: 1;
            }
            .arrow{
                
                font-size: 1.5rem;
                color: #bebaba;
                
            }
        }
    }
}