.seller{
    width: 100vw;
    .seller-top{
        padding-left: 1rem;
        .addressAndPhone{
            display: flex;
            border-bottom: .1rem solid #f4f4f4;
            min-height: 4rem;
            align-items: center;
            justify-content: space-between;
            .location{
                img{
                    width: 1rem;
                }
            }
            .address{
                display: grid;
                place-items: center;
                width: 70%;
            }
            .phone{
                width: 17%;
                display: grid;
                place-items: center;
                border-left: .1rem solid #f4f4f4;
                img{
                    width: 1.2rem;
                    
                }
            }
        }
        .pic{
            overflow: hidden;
            .picContainer{
                display: flex;
                padding: .7rem 0;
                border-bottom: .1rem solid #f4f4f4;
                img{
                    width: 7rem;
                    height: 6rem;
                    object-fit: cover;
                    margin-right: .7rem;
                }
            }
            
        }
        .security{
            display: flex;
            align-items: center;
            min-height: 3rem;
            .badge{
                img{
                    width: 1rem;
                }
            }
            p{
                padding-left: 1rem;
                flex: 1;
            }
            .arrow{
                
                font-size: 1.5rem;
                color: #bebaba;
                
            }
        }
    }
    .seller-mid{
        padding-left: 1rem;
        .deliver{
            display: flex;
            align-items: center;
            min-height: 3rem;
            border-bottom: .1rem solid #f4f4f4;
            img{
                width: 1rem;
            }
            p{
                padding-left: 1rem;
            }
        }.time{
            display: flex;
            align-items: center;
            min-height: 3rem;
            img{
                width: 1rem;
            }
            p{
                padding-left: 1rem;
            }
        }
    }
    .seller-bot{
        padding-left: 1rem;
        .serve{
            display: flex;
            align-items: center;
            min-height: 3rem;
            border-bottom: .1rem solid #f4f4f4;
            img{
                width: 1rem;
            }
            p{
                padding-left: 1rem;
            }
            .sub{
                display: flex;
                align-items: center;
                img{
                padding-left: 1rem;
                }
                p{
                    padding-left: .3rem;
                    font-size: 0.8rem;
                }
            }
        }
        .discount{
            display: flex;
            align-items: center;
            min-height: 3rem;
            border-bottom: .1rem solid #f4f4f4;
            img{
                width: 1rem;
            }
            p{
                padding-left: 1rem;
            }
        }
    }
    .fill_rest_space{
        height: calc(100vh - 653px);
    }
}