.goods{
    display: flex;
    
    /* 通過該方式確定高度 */
    position: absolute;
    top: 220px;
    bottom: 51px;
    /* 隱藏超出的部分 */
    overflow: hidden;
    width: 100%;
}
/*                  [   option  ] 
flex: flex-grow | flex-shrink | flex-basis
默認值: flex 0 1 auto;
flex-grow:定義放大/延伸比例，默認為0:存在剩餘空間也不放大
flex-shrink:定義縮小比例，默認為1:如果空間不足該項目將會被縮小。 
    ex:flex-shrink屬性為0，其他項目為1: 則空間不足時，前者不縮小。
flex-basis: 定義了在分配多餘空間之前，項目佔據主軸空間。瀏覽器根據這個屬性，計算佔據是否有多餘空間。
    默認值:auto，即項目的本來大小，設為跟width height屬性值一樣，則項目佔據固定空間。
*/
.goods .menu-wrapper{
    flex: 0 0 85px;
    background: #f4f4f4;
}
.goods .menu-wrapper .menu-item{
    padding: 16px 23px 15px 10px;
    border-bottom: 1px solid #e4e4e4;
}
.goods .menu-wrapper .menu-item .text{
    font-size: 13px;
    line-height: 17px;
    color: #333333;
    vertical-align: middle;
    /* 多行顯示省略號  使用webkit的CSS擴展屬性，適用範圍
    :webkit瀏覽器以及移動端*/
    /* 用來限制一個塊元素顯示的文本行數 */
    -webkit-line-clamp: 2;
    /* 必須 將對象作為彈性伸縮 box顯示*/
    display: -webkit-box;
    /* 必須 設置或者檢索伸縮盒子的子元素排列方式 */
    -webkit-box-orient: vertical;
    overflow: hidden;

}
.goods .menu-wrapper .menu-item .text .icon{
    width: 15px;
    height: 15px;
    vertical-align: middle;
}
.goods .foods-wrapper{
    flex: 1;
    background: blue;
}
