.ratings-wrapper {
  width: 100vw;
  height: calc(100vh - 190px);
  overflow: hidden;
}

.ratings-wrapper .ratings .overview {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(100px, 30%) 1fr minmax(100px, 20%);
      grid-template-columns: minmax(100px, 30%) 1fr minmax(100px, 20%);
  padding: 20px 0 18px 0;
}

.ratings-wrapper .ratings .overview .overview-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ratings-wrapper .ratings .overview .overview-left .score {
  font-size: 30px;
  font-weight: bold;
  color: #ffb000;
}

.ratings-wrapper .ratings .overview .overview-left p {
  color: #666666;
  font-size: 14px;
  margin-top: .5rem;
}

.ratings-wrapper .ratings .overview .overview-mid {
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.ratings-wrapper .ratings .overview .overview-mid span {
  font-size: 14px;
  color: #666666;
}

.ratings-wrapper .ratings .overview .overview-mid p {
  font-size: 14px;
  color: #FFCA56;
}

.ratings-wrapper .ratings .overview .overview-mid .favor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.ratings-wrapper .ratings .overview .overview-mid .pack {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.ratings-wrapper .ratings .overview .overview-right {
  display: -ms-grid;
  display: grid;
  place-items: center;
  border-left: 1px solid #F4F4F4;
}

.ratings-wrapper .ratings .overview .overview-right .score {
  font-size: 25px;
  color: #999999;
}

.ratings-wrapper .ratings .overview .overview-right p {
  color: #BEBDBF;
  font-size: 14px;
  margin-top: .5rem;
}

.ratings-wrapper .ratings .content {
  padding: 16px;
}

.ratings-wrapper .ratings .content .rating-select {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid #FFCA56;
  border-radius: 4px;
}

.ratings-wrapper .ratings .content .rating-select .item {
  display: inline-block;
  width: 33.3%;
  line-height: 33px;
  background: white;
  text-align: center;
  border-right: 2px solid #FFCA56;
  font-size: 16px;
  color: #FFCA56;
}

.ratings-wrapper .ratings .content .rating-select .item:last-child {
  border: none;
}

.ratings-wrapper .ratings .content .rating-select .item:last-child img {
  height: 16px;
  vertical-align: middle;
}

.ratings-wrapper .ratings .content .rating-select .item.active {
  color: black;
  background: #FFCA56;
}

.ratings-wrapper .ratings .content .label-view {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 11px 0 11px 0;
}

.ratings-wrapper .ratings .content .label-view span {
  display: inline-block;
  background: #f4f4f4;
  border-radius: 3px;
  font-size: 14px;
  margin-top: .5em;
  margin-right: .5em;
  padding: .8em;
}

.ratings-wrapper .ratings .content .label-view .item.mark {
  color: #a9a9a9;
}

.ratings-wrapper .ratings .content .rating-list .rating-comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  border-bottom: 1px solid #F4F4F4;
  padding: 11px 0 11px 0;
}

.ratings-wrapper .ratings .content .rating-list .rating-comment .comment-header {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 15%;
          flex: 0 0 15%;
}

.ratings-wrapper .ratings .content .rating-list .rating-comment .comment-header img {
  width: 60%;
  border-radius: 50%;
}

.ratings-wrapper .ratings .content .rating-list .rating-comment .comment-main {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.ratings-wrapper .ratings .content .rating-list .rating-comment .comment-main .top-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.ratings-wrapper .ratings .content .rating-list .rating-comment .comment-main .top-container .user {
  font-size: 16px;
}

.ratings-wrapper .ratings .content .rating-list .rating-comment .comment-main .top-container .time {
  font-size: 12px;
  color: #BEBDBF;
}

.ratings-wrapper .ratings .content .rating-list .rating-comment .comment-main .star-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: .5rem 0;
}

.ratings-wrapper .ratings .content .rating-list .rating-comment .comment-main .star-wrapper .text {
  font-size: 12px;
  color: #BEBDBF;
}

.ratings-wrapper .ratings .content .rating-list .rating-comment .comment-main .comment-content {
  font-size: 14px;
  line-height: 1.2rem;
}

.ratings-wrapper .ratings .content .rating-list .rating-comment .comment-main .comment-content i {
  font-weight: bold;
  color: #576b95;
}

.ratings-wrapper .ratings .content .rating-list .rating-comment .comment-main .img-wrapper {
  padding-top: 8px;
}

.ratings-wrapper .ratings .content .rating-list .rating-comment .comment-main .img-wrapper img {
  width: 60%;
}
/*# sourceMappingURL=Ratings.css.map */