.ratings{
    background: white;
    width: 100vw;
    height: calc(100vh - 190px);
    overflow: hidden;
    .overview{
        display: grid;
        grid-template-columns: minmax(100px, 30%) 1fr minmax(100px, 20%);
        padding: 20px 0 18px 0;
        .overview-left{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .score{
                font-size: 30px;
                font-weight: bold;
                color: #ffb000;
            }
            p{
                color: #666666;
                font-size: 14px;
                margin-top: .5rem;
            }
        }
        .overview-mid{
            display: grid;
            place-items: center;
            
            span{
                font-size: 14px;
                color: #666666;
            }
            p{
                font-size: 14px;
                color: #FFCA56;
            }
            .favor{
                display: flex;
                justify-content: space-around;
                align-items: center;
                width: 100%;
            }
            .pack{
                display: flex;
                justify-content: space-around;
                align-items: center;
                width: 100%;
            }
        }
        .overview-right{
            display: grid;
            place-items: center;
            border-left: 1px solid #F4F4F4;
            .score{
                font-size: 25px;
                color: #999999;
            }
            p{
                color: #BEBDBF;
                font-size: 14px;
                margin-top: .5rem;
            }
        }
    }
    .content{
        padding: 16px;
        // background: blue;
        .rating-select{
            width: 100%;
            display: flex;
            align-items: center;
            border: 2px solid #FFCA56;
            border-radius: 4px;
            
            .item{
                display: inline-block;
                width: 33.3%;
                line-height: 33px;
                background: white;
                text-align: center;
                border-right: 2px solid #FFCA56;
                font-size: 16px;
                color: #FFCA56;
            }
            .item:last-child{
                border: none;
                
                img{
                    height: 16px;
                    vertical-align: middle;
                }
            }
            .item.active{
                color: black;
                background: #FFCA56;
            }
            
        }
        .label-view{
            // background: red;
            display: flex;
            flex-wrap: wrap;
            padding: 11px 0 11px 0 ;
            span {
                display: inline-block;
                background: #f4f4f4;
                border-radius: 3px;
                font-size: 14px;
                margin-top: .5em;
                margin-right: .5em;
                padding: .8em;
            }
            .item.mark{
                color: #a9a9a9;
            }
        }
    }
}