$color-gray:#514f4f;
$color-gray-text:#bab9b9;
.shopcart{
    width: 100%;
    height: 51px;
    background: $color-gray;
    position: fixed;
    left: 0;
    bottom: 0;
    display: flex;
    z-index: 97;
    &.hightlight{
        background: #2d2b2a;
    }
    .content-left{
        flex: 1;
        .logo-wrapper{
            width: 50px;
            height: 50px;
            background: #666666;
            border-radius: 50%;
            position: relative;
            top: -14px;
            left: 10px;
            text-align: center;
            float: left;
            &.hightlight{
                background: #ffd161;
            }
            .logo{
                font-size: 28px;
                color: #c4c4c4;
                line-height: 50px;
                &.hightlight{
                    color: #2d2b2a;
                }
            }
            .num{
                width: 15px;
                height: 15px;
                font-size: 9px;
                line-height: 15px;
                border-radius: 50%;
                background: red;
                color: white;
                position: absolute;
                right: 0;
                top: 0;

            }
        }
        .desc-wrapper{
            float: left;
            margin-left: 13px;
            .total-price{
                font-size: 18px;
                line-height: 33px;
                color: white;
            }
            .tip{
                font-size: 16px;
                color:$color-gray-text;
                line-height: 51px;
                &.hightlight{
                    line-height: 16px;
                    color: white;
                }
            }
        }
    }
    .content-right{
        flex: 0 0 110px;
        font-size: 19px;
        color: $color-gray-text;
        line-height: 51px;
        text-align: center;
        &.hightlight{
            background: #ffd161;
            color: #2d2b2a;
            font-weight: bold;
        }
    }
    .shopcart-list{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: -1;
        
        // 增加背景遮罩
        height: 100vh;
        background-color: rgba(7, 17, 27, 0.6);
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        &.show{
            transform: translateY(-100%);
        }
        .list-top{
            height: 30px;
            font-size: 11px;
            line-height: 30px;
            text-align: center;
            background: #f3e6c6;
            color: #646158;
        }
        .list-header{
            height: 30px;
            background: #f4f4f4;
            display: flex;
            justify-content: space-between;
            align-content: center;
            .title{
                
                border-left: 4px solid #53c123;
                line-height: 30px;
                font-size: 12px;
            }
            .empty{
                line-height: 30px;
                margin-right: 10px;
                font-size: 0;
                img{
                    height: 14px;
                    margin-right: 9px;
                    vertical-align: middle;
                }
                span{
                    font-size: 12px;
                    vertical-align: middle;
                }
            }
        }
        .list-content{
            max-height: 360px;
            background: white;
            overflow: hidden;
            .food{
                height: 38px;
                padding: 12px 12px 10px 12px;
                border-bottom: 1px solid #f4f4f4;
                .desc-wrapper{
                    display: flex;
                    // justify-content: space-between;
                    float: left;
                    width: 240px;
                    .desc-left{
                        float: left;
                        width: 170px;
                        .name{
                            margin-bottom: 8px;
                            font-size: 16px;
                            display: -webkit-box;
                            -webkit-line-clamp: 1;
                            -webkit-box-orient: vertical;
                            overflow: hidden;
                            height: 16px;
                        }
                        .unit{
                            font-size: 12px;
                            color: #b4b4b4;
                        }
                        .desc{
                            font-size: 12px;
                            color: #b4b4b4;
                            overflow: hidden;
                            height: 12px;
                        }
                    }
                    .desc-right{
                        float: right;
                        width: 70px;
                        text-align: right;
                        .price{
                            font-size: 12px;
                            line-height: 38px;
                        }
                    }
                }
                .cartcontrol-wrapper{
                    float: right;
                    padding-top: 6px;
                }
            }
        }

        
    }
    
}
